{% extends "base.html" %}

{% block title %}
{% if key %}
  ACTIVATION ERROR
{% else %}
    REACTIVATE EMAIL
{% endif %}
{% endblock title %}


{% block content %}
<div class="row">
        <div class="col s12 l6 offset-l3">
            <div class="card grey lighten-3">
                <div class="card-content">
                    {% if key %}
                    <h4 class="card-title center-align">Activation Error. Please try again.</h4>
                    {% else %}
                    <h4 class="card-title center-align">Re-activate your Email Below.</h4>
                    {% endif %}
                    <form method="POST" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    <div class="row">
                        <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        {{form.email}}
                        {{form.email.label_tag}}
                        <span class="helper-text" data-error="{{form.email.errors}}" data-success="right">{{form.email.help_text}}</span>
                        </div>
                    </div>
                    <div class="row center-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Resend Activation
                            <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                    <br>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="col s6">
                            <p class="left-align"><a href="{% url 'login' %}"><em>Already have an account?</em></a></p>
                        </div>
                        <div class="col s6">
                            <p class="right-align"><a href="{% url 'register' %}"><em>Dont have an account?</em></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
