{% extends "base.html" %}
{% block title %}
  PASSWORD CHANGE
{% endblock title %}

{% block navbar %}
{% include "snippets/nav.html" %}
{% endblock navbar %}

{% block content %}
<div class="row">
    <div class="col s12 l6 offset-l3">
        <div class="card grey lighten-3">
            <div class="card-content">
                <h4 class="card-title center-align">Change your password.</h4>
                <form method="POST" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}

                <div class="row">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    {{form.old_password}}
                    {{form.old_password.label_tag}}
                    <span class="helper-text" data-error="{{form.old_password.errors}}" data-success="right">{{form.old_password.help_text}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    {{form.new_password1}}
                    {{form.new_password1.label_tag}}
                    <span class="helper-text" data-error="{{form.new_password1.errors}}" data-success="right">{{form.new_password1.help_text}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    {{form.new_password2}}
                    {{form.new_password2.label_tag}}
                    <span class="helper-text" data-error="{{form.new_password2.errors}}" data-success="right">{{form.new_password2.help_text}}</span>
                    </div>
                </div>

                <div class="row center-align">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Update Password
                        <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
                <br>
                <hr>
                <br>
                <div class="row">
                    <div class="col s12">
                        <p class="center-align"><a href="{% url 'account:home' %}"><em>PROFILE</em></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
