{% extends "base.html" %}

{% block title %}
  PROFILE
{% endblock title %}

{% block navbar %}
{% include "snippets/nav.html" %}
{% endblock navbar %}

{% block content %}
<div class='row'>
<div class='col-12 container'>
<h3 class="center-align">Hello {{ user.first_name}}</h3>
<p class="center-align">Right here you can <em>Review</em>, <em>Update</em> and even <em>Change</em> your user information and passwords.</p>
</div>


<div class='col s12 m10 offset-m1'>
    <div class="card grey lighten-2">
      <div class="card-content">
        <h4 class="card-title center-align">Account Details</h4> 
        <div class="divider"></div>
        <hr>
        <div class="row center-align">
          <div class="col s12 l6">
           <h6>{{ user.short_name }}</h6>
            <small><em><b>Short Name</b></em></small><br>
          <br>
          </div>
          
          <div class="col s12 l6">
             <h6>{{ user.middle_name }}</h6>
              <small><em><b>Middle Name</b></em></small><br>
            <br>
            </div>
            
            <div class="col s12 l6">
               <h6>{{ user.email }}</h6>
                <small><em><b>Email</b></em></small>
              </div>

        </div>
        <hr>
        <br>
        <div class='row'>
          <div class="col s6 l6">
            <a class='center-align' href='{% url "account:user-update" %}'>Update Profile</a>
          </div>
          <div class="col s6 l6 right-align">
            <a class='center-align' href='{% url "password_change" %}'>Change Password</a>          </div>
          </div>
      </div>
    </div>
</div>

</div>


{% endblock %}